<p>
  <strong>Title:</strong>
  <h1>Listing prestation_attachments</h1>
</p>

<%= link_to 'New Prestation attachment', new_prestation_prestation_attachment_path(@prestation, prestation_attachment) %>

<% @prestation_attachments.each do |p| %>
  <%= image_tag p.photo_url %>
  <%= link_to "Edit Attachment", edit_prestation_prestation_attachment_path(p) %>
  <%= link_to 'Destroy', [@prestation, new_prestation_attachment_path(p)], method: :delete, data: { confirm: 'Are you sure?' } %><br/> 
<hr />
<% end %>

