<div class="row ligne1">
  
<div class="page-header">
  <h3>PHOTO</h3>
</div>
</div><!-- ligne1 -->

<%= render 'form_insert' %>
<hr />
<% @prestation_attachments.each do |p| %>
<div class="img-responsive">
  <%= image_tag p.photo_url, :class=>"img-responsive img-thumbnail img-circle" %>
</div>
  <%= link_to "Edit Attachment", edit_prestation_prestation_attachment_path(@prestation, p), :class => 'btn-xs btn-info' %>
  <%= link_to 'Destroy',  prestation_prestation_attachment_path(@prestation,p), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn-xs btn-danger' %>
  
<hr />
<% end %>

